// Import des variables css (à charger dans chaque composant si besoin)
@import '~css/variables'

// Style de mon composant PostsList

.posts-list-filters
text-align center
.posts-list-stats
  color $orange-flame-pea
  text-align center
  margin 10px

.posts-list-stats
  text-align: center
  li
    display: inline-block
    padding: 20px
.posts-list
  display flex
  flex-flow row wrap
  text-align center


